<div class="wrapper">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Register</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#" name="registerForm">
                <div class="form-group">
                    <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text"
                                   class="form-control"
                                   name="firstName"
                                   id="firstName"
                                   placeholder="Enter your first name"
                                   ng-minlength="2"
                                   ng-maxlength="50"
                                   ng-required="true"
                                   ng-model="ac.user.firstName" />
                        </div>
                    </div>
                    <div ng-show="registerForm.firstName.$error.required && registerForm.firstName.$dirty"
                         class="red-text">
                        First name is required
                    </div>
                    <div ng-show="registerForm.firstName.$dirty &&
                            (registerForm.firstName.$error.minlength || registerForm.firstName.$error.maxlength)"
                         class="red-text">
                        First name should be between 2 and 50 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text"
                                   class="form-control"
                                   name="lastName"
                                   id="lastName"
                                   placeholder="Enter your last name"
                                   ng-minlength="2"
                                   ng-maxlength="50"
                                   ng-required="true"
                                   ng-model="ac.user.lastName" />
                        </div>
                    </div>
                    <div ng-show="registerForm.lastName.$error.required && registerForm.lastName.$dirty"
                         class="red-text">
                        Last name is required
                    </div>
                    <div ng-show="registerForm.lastName.$dirty &&
                            (registerForm.lastName.$error.minlength || registerForm.lastName.$error.maxlength)"
                         class="red-text">
                        Last name should be between 2 and 50 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" 
                                   class="form-control" 
                                   name="email" 
                                   id="email" 
                                   placeholder="Enter your Email" 
                                   ng-required="true" 
                                   ng-model="ac.user.email" />
                        </div>
                    </div>
                    <div ng-show="registerForm.email.$dirty && !registerForm.email.$valid"
                         class="red-text">
                        Email is not correct
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" 
                                   class="form-control" 
                                   name="password" 
                                   id="password" 
                                   placeholder="Enter your Password" 
                                   ng-minlength="6" 
                                   ng-maxlength="20" 
                                   ng-required="true" 
                                   ng-model="ac.user.password" />
                        </div>
                    </div>
                    <div ng-show="registerForm.password.$dirty && registerForm.password.$error.required"
                         class="red-text">
                        Password is required
                    </div>
                    <div ng-show="registerForm.password.$dirty &&
                            (registerForm.password.$error.minlength || registerForm.password.$error.maxlength)"
                         class="red-text">
                        Password should be between 6 and 20 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password"
                                   class="form-control"
                                   name="confirm"
                                   id="confirm"
                                   placeholder="Confirm your Password"
                                   required
                                   ng-model="ac.user.confirmPassword"
                                   compare-to="ac.user.password" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imageUrl" class="cols-sm-2 control-label">Image</label>
                    <button ng-required="false"
                            type="button" 
                            class="button form-control"
                            ngf-select="ac.loadPhoto(file)"
                            ng-model="file"
                            name="file"
                            ngf-multiple="false"
                            ngf-pattern="'image/*'"
                            ngf-accept="'image/*'"
                            ngf-max-size="6MB"
                            ngf-min-height="100">
                        Select an image
                    </button>
                    <div 
                        ng-required="false"
                        ngf-drop="ac.loadPhoto(file)" 
                        ng-model="file" 
                        ngf-drag-over-class="'dragover'" 
                        ngf-multiple="false"
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"
                        ngf-max-size="6MB"
                        ngf-min-height="100"
                        class="drop-box">
                    Or drop it here</div>
                </div>
                <div class="form-group">
                    <img width="200" height="200" ngf-thumbnail="ac.user.profileImage">
                </div>
                <div class="form-group">
                    <button type="button"
                            class="btn stylish-color btn-lg login-button"
                            ng-disabled="registerForm.$invalid || !ac.user.profileImage"
                            ng-click="ac.register(ac.user)">
                        Register
                    </button>
                </div>
                <div class="login-register">
                    <a ui-sref="login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
