<div class="stylish-color ng-scope" style="border-radius:3px;padding:15px; padding-bottom: 0; margin-bottom: 25px;">
    <div class="row">
        <label class="col-xs-12">
            <input class="form-control"
                   style="background-color:white"
                   placeholder="Search by first name"
                   ng-model="uc.filterCriteria.firstName"
                   ng-change="uc.filter()">
        </label>
    </div>
    <div class="row">
        <label class="col-xs-12">
            <input class="form-control"
                   style="background-color:white"
                   placeholder="Search by last name "
                   ng-model="uc.filterCriteria.lastName"
                   ng-change="uc.filter()">
        </label>
    </div>
</div>
<div class="row">
    <div ng-repeat="user in uc.users | filter:search" class="col-xs-12 col-sm-6 col-md-3 user-wrapper">
        <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-light">
                <img ng-src="{{user.profileImage}}" class="img-fluid card-image" alt="">
                <a href="#">
                    <div class="mask flex-center"></div>
                </a>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title stylish-color white-text">{{user.firstName}} {{user.lastName}}</h4>
                    <!--Text-->
                    <button type="button" ui-sref="rentalHistories({id:user.id})" class="btn btn-lg stylish-color">
                        Rent History
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="custom"
    uib-pagination
    total-items="uc.totalItems"
    max-size="3"
    ng-model="uc.filterCriteria.pageNumber"
    items-per-page="uc.filterCriteria.itemsPerPage"
    ng-change="uc.pageChange()"></ul>
<link href="../../styles/customPaging.css" rel="stylesheet" />
<link href="../../styles/card.css" rel="stylesheet" />
