<!--<div class="row">
    <label class="col-xs-12"><input class="form-control" placeholder="Search by name " ng-model="search.lastName" ng-change="rc.filter(search.lastName)"></label>
</div>-->
<div class="stylish-color ng-scope" style="border-radius:3px;padding:15px; padding-bottom: 0; margin-bottom: 25px;">
    <div class="row">
        <label class="col-xs-12"><input class="form-control" style="background-color:white" placeholder="Search by first name " ng-model="search.firstName" ng-change="rc.filter(search.firstName)"></label>
    </div>
</div>
<div class="row">
    <div ng-repeat="renter in rc.filteredRenters | filter:search" class="col-xs-12 col-sm-6 col-md-3 car-wrapper">
        <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-light">
                <img ng-src="{{renter.imageUrl}}" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask flex-center"></div>
                </a>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block" style="text-align:center;">
                    <!--Title-->
                    <h4 class="card-title stylish-color white-text">{{renter.firstName}} {{renter.lastName}}</h4>
                    <!--Text-->
                    <button type="button" ui-sref="details({id:renter.id})" class="btn btn-lg stylish-color">
                        Rent History
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="custom"
    uib-pagination
    total-items="rc.filtered.length"
    max-size="3"
    ng-model="rc.page"
    items-per-page="rc.numberOfRecords"
    ng-change="rc.pageChange(rc.page)">
</ul>
<link href="../../styles/customPaging.css" rel="stylesheet" />
