<h1>Add car</h1>
<div>
    <form name="addCarForm">
        <div class="form-group">
            <label for="brand">Brand</label>
            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="vm.car.brand"
                ng-options="brand.name for brand in vm.brands"
            >
            </select>
            <!--<input type="text" class="form-control" ng-minlength="3" ng-maxlength="30" name="brand" id="brand" required ng-model="vm.car.brand" placeholder="Brand">-->
            <!--<span class="red-text" ng-show="addCarForm.brand.$error.required && addCarForm.brand.$dirty">Brand is required</span>
            <span class="red-text" ng-show="addCarForm.brand.$error.minlength || addCarForm.brand.$error.maxlength">Brand must be between 3 and 30 characters</span>-->
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <select class="form-control" name="repeatSelect2" id="repeatSelect2" ng-model="vm.car.model"
               ng-options="model.name for model in vm.car.brand.models"
            >
            </select>
            <!--<input type="text" class="form-control" name="model" ng-minlength="3" ng-maxlength="30" required id="model" ng-model="vm.car.model" placeholder="Model">-->
            <!--<span class="red-text" ng-show="addCarForm.model.$error.required && addCarForm.model.$dirty">Brand is required</span>
            <span class="red-text" ng-show="addCarForm.model.$error.minlength || addCarForm.model.$error.maxlength">Brand must be between 3 and 30 characters</span>-->
        </div>
        <div class="form-group">
            <label for="numberOfDoors">Number of doors</label>
            <input type="number" required class="form-control" ng-min="2" ng-max="5" name="numberOfDoors" id="numberOfDoors" placeholder="Number of doors" ng-model="vm.car.numberOfDoors">
            <span class="red-text" ng-show="addCarForm.numberOfDoors.$error.min || addCarForm.numberOfDoors.$error.max">Number of doors must be between 2 and 5</span>
        </div>
        <div class="form-group">
            <label for="numberOfSeats">Number of seats</label>
            <input type="number" required class="form-control" id="numberOfSeats" name="numberOfSeats" ng-min="1" ng-max="8" placeholder="Number of seats" ng-model="vm.car.numberOfSeats">
            <span class="red-text" ng-show="addCarForm.numberOfSeats.$error.min || addCarForm.numberOfSeats.$error.max">Number of seats must be between 2 and 8</span>
        </div>
        <div class="form-group">
            <label for="image">Image(from URL)</label>
            <input type="url" required class="form-control" id="imageUrl" placeholder="Image" ng-model="vm.car.imageUrl" ng-blur="loadPicture(addCarForm)">
        </div>
        <div class="form-group">
            <img width="300" height="300" ng-src="{{vm.car.imageUrl}}" />
        </div>
        <button type="submit" ng-disabled="addCarForm.$invalid" ng-click="vm.addCar(this)" class="btn btn-default">Submit</button>
    </form>
</div>
