<div class="stylish-color" style="border-radius:3px;padding:15px; padding-bottom: 0; margin-bottom: 25px">
    <div class="row">
        <label class="col-xs-12"><input style="background-color:white" class="form-control" placeholder="Search brand" ng-model="search.brand" ng-change="cc.filter(search.brand, search.model)"></label>
        <label class="col-xs-12"><input style="background-color:white" class="form-control" placeholder="Search model" ng-model="search.model" ng-change="cc.filter(search.brand, search.model)"></label>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-hide="cc.currentUser.role === 'User'"><a class="btn stylish-color" ng-click="cc.add(cc.cars)">Add</a></div>
</div>
{{cc.filteredCars.length}}
<div class="row">
    <!--Card-->
    <div ng-repeat="car in cc.filteredCars | filter:search" class="col-xs-12 col-sm-6 col-md-3 car-wrapper">
        <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-light">
                <img ng-src="{{car.imageUrl}}" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask flex-center"></div>
                </a>
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title stylish-color white-text">{{car.brand}} {{car.model}}</h4>
                    <!--Text-->
                    <p class="card-text">Color: {{car.color}}</p>
                    <p class="card-text">Rented by: {{car.rentedBy}}</p>
                    <p class="card-text">Status: {{car.status}}</p>
                    <div class="row">
                        <button type="button" class="btn btn-lg stylish-color" ng-disabled="car.rentedUntil" ng-click="cc.rent(car,cc.cars)">
                            Rent
                        </button>
                        <button type="button" class="btn btn-lg stylish-color" ng-hide="cc.currentUser.role === 'User'" ng-click="cc.editCar(car,cc.cars)">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="custom" uib-pagination total-items="cc.cars.length" ng-model="cc.page" items-per-page="cc.numberOfRecords" ng-change="cc.pageChange(cc.page)"></ul>
<style>
    .custom > li {
        border-radius: 0;
    }

        .custom > li > a, .custom > li > span {
            height: 45px;
            font-size: 20px;
            color: whitesmoke;
            background-color: #4B515D;
            border: 1px solid gray;
            margin-left: 10px;
        }

            .custom > li > a:hover {
                background-color: gray;
                color: white;
            }

        .custom > li.active > a, .custom > li.active > a:hover {
            background-color: grey;
        }
</style>
