<h1>Edit car</h1>
<div>
    <form name="editCarForm">
        <div class="form-group">
            <label for="brand">Brand</label>
            <select class="form-control"
                    name="repeatSelect"
                    id="repeatSelect"
                    ng-model="vm.car.brand"
                    ng-options="brand.name for brand in vm.brands track by brand.id"></select>
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <select class="form-control" name="repeatSelect2" id="repeatSelect2" ng-model="vm.car.model"
                    ng-options="model.name for model in vm.car.brand.models track by model.id"></select>
        </div>
        <div class="form-group">
            <label for="numberOfDoors">Number of doors</label>
            <input type="number" required class="form-control" ng-min="2" ng-max="5" name="numberOfDoors" id="numberOfDoors" placeholder="Number of doors" ng-model="vm.car.numberOfDoors">
            <span class="red-text" ng-show="editCarForm.numberOfDoors.$error.min || editCarForm.numberOfDoors.$error.max">Number of doors must be between 2 and 5</span>
        </div>
        <div class="form-group">
            <label for="numberOfSeats">Number of seats</label>
            <input type="number" required class="form-control" id="numberOfSeats" name="numberOfSeats" ng-min="1" ng-max="8" placeholder="Number of seats" ng-model="vm.car.numberOfSeats">
            <span class="red-text" ng-show="editCarForm.numberOfSeats.$error.min || editCarForm.numberOfSeats.$error.max">Number of seats must be between 2 and 8</span>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status" id="status" ng-model="vm.status"
                    ng-options="status.value for status in vm.statuses track by status.key"></select>
        </div>
        {{vm.car.status}}
        <div class="form-group">
            <label for="image">Image(from URL)</label>
            <input type="url" required class="form-control" id="imageUrl" placeholder="Image" ng-model="vm.car.imageUrl" ng-blur="loadPicture(addCarForm)">
        </div>
        <div class="form-group">
            <img width="300" height="300" ng-src="{{vm.car.imageUrl}}" />
        </div>
        <button type="submit" ng-disabled="editCarForm.$invalid || editCarForm.$pristine" ng-click="vm.editCar(this)" class="btn btn-default">Submit</button>
    </form>
</div>

