<h1>Edit car</h1>
<div>
    <form name="editCarForm">
        <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" ng-minlength="3" ng-maxlength="30" name="brand" id="brand" required ng-model="vm.car.brand" placeholder="Brand">
            <span class="red-text" ng-show="editCarForm.brand.$error.required && editCarForm.brand.$dirty">Brand is required</span>
            <span class="red-text" ng-show="editCarForm.brand.$error.minlength || editCarForm.brand.$error.maxlength">Brand must be between 3 and 30 characters</span>
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" name="model" ng-minlength="3" ng-maxlength="30" required id="model" ng-model="vm.car.model" placeholder="Model">
            <span class="red-text" ng-show="editCarForm.model.$error.required && editCarForm.model.$dirty">Brand is required</span>
            <span class="red-text" ng-show="editCarForm.model.$error.minlength || editCarForm.model.$error.maxlength">Brand must be between 3 and 30 characters</span>
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <input type="color" class="form-control" id="color" ng-model="vm.car.color" placeholder="Color">
        </div>
        <div class="form-group">
            <label for="image">Image(from URL)</label>
            <input type="url" required class="form-control" id="imageUrl" placeholder="Image" ng-model="vm.car.imageUrl" ng-blur="loadPicture(addCarForm)">
        </div>
        <div class="form-group">
            <img width="300" height="300" ng-src="{{vm.car.imageUrl}}" />
        </div>
        <button type="submit" ng-disabled="editCarForm.$invalid || editCarForm.$pristine" ng-click="vm.editCar(this)" class="btn btn-default">Submit</button>
    </form>
</div>

