<h3>{{vm.car.brand}} {{vm.car.model}}</h3>
<div>
    <form name="rentForm">
        <div class="form-group">
            <label for="rent-until">Rent For</label>
            <input type="time" class="form-control" name="rentFor" id="rent-for" ng-model="vm.car.rentFor" min="01:00:00" max="08:00:00" required>
            <span class="red-text" ng-show="rentForm.rentFor.$error.min || rentForm.rentFor.$error.max">Pick a time between Between 1 and 8 hours</span>
        </div>
        <button type="submit" class="btn blue darken-4" ng-disabled="rentForm.$invalid" ng-click="vm.rentCar(vm.car,this)">Submit</button>
    </form>
</div>