    .custom > li {
        border-radius: 0;
    }
        .custom > li > a, .custom > li > span {
            height: 35px;
            font-size: 15px;
            color: whitesmoke;
            background-color: #4B515D;
            border: 1px solid gray;
            margin-left: 5px;
        }

            .custom > li > a:hover {
                background-color: gray;
                color: white;
            }

        .custom > li.active > a, .custom > li.active > a:hover {
            background-color: grey;
        }